<?xml version="1.0"?>
<configuration>
	<system.serviceModel>
		<behaviors>
			<endpointBehaviors>
				<behavior name="WCFTest.ServiceHost.Service1AspNetAjaxBehavior">
					<!--<enableWebScript/>-->
          <webHttp/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
		<services>
			<service name="WCFTest.Service.WCFTestService">
				<endpoint address="" behaviorConfiguration="WCFTest.ServiceHost.Service1AspNetAjaxBehavior" binding="webHttpBinding" contract="WCFTest.Service.IWCFTestService"/>
			</service>
		</services>
	</system.serviceModel>
	<system.web>
		<compilation debug="true"/></system.web></configuration>
